# API keys and secrets
.env
# Dependency directory
node_modules
# Ignore built ts files
dist
build
# Ignore logs files
logs/
!logs/.gitkeep
src/infrastructure/firebase/quickstartsample-opvsxj-5d9f20ff1907.json